<nav>
    {% for block in site.data.map %}
    {% for item in block[page.docs] %}
    {% if item == page.path %}
    {% for trans in block %}
    {% assign trans_path = trans[1] %}
    {% assign posts = site.posts | where:"path",trans_path %} 

    {% for item in posts %}
    {% if item.path == page.path %}
    <a hrefdocs="{{item.docs}}" class="active">{{site.data.locales[item.docs].title}}</a>
    {% else %}
    <a hrefdocs="{{item.docs}}" href="{{item.url|absolute_url}}">{{site.data.locales[item.docs].title}}</a>
    {% endif %}
    {% endfor %}

    {% assign pages = site.pages | where:"path",trans_path %}

    {% for item in pages %}
    {% if item.path == page.path %}
    <a hrefdocs="{{item.docs}}" class="active">{{site.data.locales[item.docs].title}}</a>
    {% else %}
    <a hrefdocs="{{item.docs}}" href="{{item.url|absolute_url}}">{{site.data.locales[item.docs].title}}</a>
    {% endif %}
    {% endfor %}
    
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}

</nav>
